
# Ignore all WP files other than the ones we are developing, as WP core is managed by Flywheel
wordpress/*
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/themes/
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/mapaction

# Ignore data folder in our dev directory
dev/mysql_data
