
# Ignore all WP files other than the ones we are developing, as WP core is managed by Flywheel
wordpress/*
!wordpress/.htaccess
!wordpress/wp-content/
wordpress/wp-content/*

!wordpress/wp-content/themes/
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/mapaction

!wordpress/wp-content/plugins/
wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/ma-home-widget
!wordpress/wp-content/plugins/ma-widget-insert

# Ignore build directories & files
.sass-cache
style.css.map
editor-style.css.map

# Ignore data folder in our dev directory
dev/mysql_data
dev/mapaction_*.sql

# Custom vim settings file
.vimrc_local
