.site-layout {
	padding: 0 $gutter-size;
	@media screen and (max-width: $two_column_min_width) {
		padding: 0 $gutter-size/2;
	}
}

/* Create the color bars that spread outside the page width
   for the emergencies banne r*/
.site-emergencies {
	&::before {
		height: $emergencies-height;
		@media screen and (max-width: $two_column_min_width) {
			height: $emergencies-height-small;
		}
		width: 1000px;
		background-color: $primary-blue;
		content: "";
	}
	&::after {
		height: $emergencies-height;
		@media screen and (max-width: $two_column_min_width) {
			height: $emergencies-height-small;
		}
		width: 1000px;
		background-color: $primary-red;
		content: "";
	}
}

/* Create the arrow in the emergencies banner */
.site-emergencies-layout > h1 {
    &::after {
    	content: "";
    	width: 0;
    	height: 0;
		border-width: $emergencies-height/2 0 $emergencies-height/2 $emergencies-height/2;
		border-color: transparent transparent transparent $primary-blue;
		border-style: solid;
		@media screen and (max-width: $two_column_min_width) {
			border-width: $emergencies-height-small/2 0 $emergencies-height-small/2 $emergencies-height-small/2;
		}
    }
}

.site-emergencies {
	height: $emergencies-height;
	background-color: $primary-red;
	@media screen and (max-width: $two_column_min_width) {
		height: $emergencies-height-small;
	}
	
	> h1 {
		background-color: $primary-blue;
		color: white;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: bold;
		height: $emergencies-height;
		@media screen and (max-width: $two_column_min_width) {
			height: $emergencies-height-small;
			font-size: $base-font-size-small;
		}
	}
	> ul {
		height: $emergencies-height;
		@media screen and (max-width: $two_column_min_width) {
			height: $emergencies-height-small;
		}
	}
	> ul > li > a,
	> ul > li > a:visited {
		font-size: 1rem;
		font-weight: bold;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		@media screen and (max-width: $two_column_min_width) {
			font-size: $base-font-size-small;
		}
	}
	> ul > li > a:hover {
		text-decoration: underline;
	}
}

/* Full width navigation */
.main-navigation {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li > a {
		color: $primary-blue;
		text-decoration: none;
	}
	> ul > li {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		margin-right: $gutter-size;
		@media screen and (max-width: $three_column_min_width) {
			margin-right: $gutter-size/2;
		}
		> a {
			position: relative;  /* For positioning pseudo element on hover (underline effect) */
		}
	}
	> ul > li:hover > a::after,
	> ul > li.current_page_item > a::after {
		position: absolute;
		left: 0;
		bottom: -0.5em;
		content: "";
		height: 0.3em;
		width: 100%;
		background-color: $secondary-blue;
		border-radius: 4px;
		z-index: 1;
	}
	ul.sub-menu {
		display: none;
		margin: 0;
		padding: $gutter-size/2 0 0 0;
		background-color: white;
		border-bottom: 3px solid $secondary-blue;
		border-radius: 2px;
		text-align: left;
		width: 100%;
		li {
			width: 100%;
			font-weight: normal;
			text-transform: none;
			padding: 0 $gutter-size/2;
		}
	}
	li:hover {
		position: relative;
		ul.sub-menu {
			position: absolute;
			left: 0;
			display: block;
		}
	}
}

/* Mobile navigation */
@media screen and (max-width: $full_menu_min_width) {
	.site-navigation-toggle-label {
		font-size: $base-font-size-small;
		text-transform: uppercase;
		border: 1px solid $secondary-blue;
		border-radius: 4px;
		padding: 5px;
		color: $primary-blue;
	}

	.main-navigation {
		> ul > li {
			text-align: left;
		}
		li:hover ul.sub-menu {
			padding-top: 0;
		}
	}
}

.site-branding img {
	height: $logo-height;
	@media screen and (max-width: $three_column_min_width) {
		height: $logo-height-small;
	}
}
