$max-width: 1200px;

.site-layout {
	max-width: $max-width;
	margin: auto;
}

.site-header-layout {
	margin: auto;
}

/* Create the color bars that spread outside the page width
   for the emergencies banne r*/
.site-emergencies-layout {
	position: relative;
	&::before {
		position: absolute;
		right: 100%;
	}
	&::after {
		position: absolute;
		left: 100%;
	}
}

/* Create the arrow in the emergencies banner */
.site-emergencies-layout > h1 {
	position: relative;
	&::after {
		position: absolute;
		left: 100%;
		top: 0;
	}
}

.site-emergencies-layout {
	> h1 {
		display: inline-block;
		margin: 0;
		/* Center the text in the emergencie block */
		span {
			margin-top: #{ ($emergencies-height - $base-font-size * $base-line-height) / 2 };
			display: inline-block;
			margin-right: 0.5 * $gutter-size;
			@media screen and (max-width: $two_column_min_width) {
				margin-top: #{ ($emergencies-height-small - $base-font-size-small * $base-line-height) / 2 };
			}
		}
		.current-emergency-icon {
			display: none;
		}
		@media screen and (max-width: $three_column_min_width) {
			.current-emergency-icon {
				display: inline-block;
			}
			.current-emergency-text {
				display: none;
			}
		}
	}
	> ul {
		display: inline-block;
		padding: 0;
		margin: 0 0 0 $gutter-size*1.5;
		@media screen and (max-width: $two_column_min_width) {
			margin: 0 0 0 $gutter-size;
		}
	}
	> ul > li {
		display: inline-block;
		margin: 0 $gutter-size 0 0;
		@media screen and (max-width: $three_column_min_width) {
			.emergency-type {
				display: none;
			}
		}
		@media screen and (max-width: $two_column_min_width) {
			margin: 0 $gutter-size/2 0 0;
		}
	}
}

.site-branding-layout {
	float: left;
}

.main-navigation-layout {
	float: right;
}

.site-branding-layout {
	margin-top: $gutter-size;
}

/* Full width navigation */
.site-navigation-toggle-label-layout {
	display: none;
	margin-top: #{ $gutter-size + ( $logo-height - $base-line-height * $base-font-size ) / 2 };
	@media screen and (max-width: $three_column_min_width) {
		margin-top: #{ $gutter-size + ( $logo-height-small - $base-line-height * $base-font-size ) / 2 };
	}
}
.main-navigation-layout {
	margin-top: #{ $gutter-size + ( $logo-height - $base-line-height * $base-font-size ) / 2 };
	@media screen and (max-width: $three_column_min_width) {
		margin-top: #{ $gutter-size + ( $logo-height-small - $base-line-height * $base-font-size ) / 2 };
	}

	ul, li {
		display: inline-block;
	}
	input {
		display: none;
	}
}

/* Mobile navigation */
@media screen and (max-width: $full_menu_min_width) {
	.site-navigation-toggle-label-layout {
		display: block;
		float: right;
	}

	.main-navigation {
		float: none;
		clear: both;
		input[type="checkbox"]:not(:checked) + ul li {
			display: none;
		}
		> ul > li {
			display: block;
			text-align: left;
			margin-top: $gutter-size/2;
		}

		ul li:hover ul.sub-menu {
			left: 100%;
			top: 0;
		}
	}
}
