/* Main styling of the emergencies bar */
.site-emergencies {
	background-color: $primary-red;
	> h1 {
		background-color: $primary-blue;
		color: white;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: bold;
		@media screen and (max-width: $two_column_min_width) {
			font-size: $base-font-size-small;
		}
	}
	> ul > li > a,
	> ul > li > a:visited {
		font-size: 1rem;
		font-weight: bold;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		@media screen and (max-width: $two_column_min_width) {
			font-size: $base-font-size-small;
		}
	}
	> ul > li > a:hover {
		text-decoration: underline;
	}
}

/* 
 * Layout of inner components 
 */

/* Create the arrow in the emergencies banner */
.site-emergencies > h1 {
	position: relative;
	&::after {
		position: absolute;
		left: 100%;
		top: 0;
		content: "";
		width: 0;
		height: 0;
		border-width: $emergencies-height/2 0 $emergencies-height/2 $emergencies-height/2;
		border-color: transparent transparent transparent $primary-blue;
		border-style: solid;
		@media screen and (max-width: $two_column_min_width) {
			border-width: $emergencies-height-small/2 0 $emergencies-height-small/2 $emergencies-height-small/2;
		}
	}
}

/* Layout of the title of the emergencies bar */
.site-emergencies h1 {
	display: inline-block;
	margin: 0;
	height: $emergencies-height;
	@media screen and (max-width: $two_column_min_width) {
		height: $emergencies-height-small;
	}

	/* Center the text in the emergencies block */
	span {
		margin-top: #{ ($emergencies-height - $base-font-size * $base-line-height) / 2 };
		display: inline-block;
		margin-right: 0.5 * $gutter-size;
		@media screen and (max-width: $two_column_min_width) {
			margin-top: #{ ($emergencies-height-small - $base-font-size-small * $base-line-height) / 2 };
		}
	}

	/* Switch between icon and text depending on screen size */
	.current-emergency-icon {
		display: none;
	}
	@media screen and (max-width: $three_column_min_width) {
		.current-emergency-icon {
			display: inline-block;
		}
		.current-emergency-text {
			display: none;
		}
	}
}

/* Layout of the text part of the emergencies bar (includes
   hiding text in smaller screen sizes */
.site-emergencies > ul {
	height: $emergencies-height;
	@media screen and (max-width: $two_column_min_width) {
		height: $emergencies-height-small;
	}
	display: inline-block;
	padding: 0;
	margin: 0 0 0 $gutter-size*1.5;
	@media screen and (max-width: $two_column_min_width) {
		margin: 0 0 0 $gutter-size;
	}
}
.site-emergencies > ul > li {
	display: inline-block;
	margin: 0 $gutter-size 0 0;
	@media screen and (max-width: $three_column_min_width) {
		.emergency-type {
			display: none;
		}
	}
	@media screen and (max-width: $two_column_min_width) {
		margin: 0 $gutter-size/2 0 0;
	}
}
