/* This mixin contains the default styling we'd expect to
   apply to any container that contains main website
   content */
@mixin content_area_styles() {
	h1 {
		color: $primary-blue;
		font-size: $base-font-size-giant;
		margin-top: $gutter-size/2;
		margin-bottom: $gutter-size/4;
		font-weight: normal;
	}

	h2 {
		font-size: $base-font-size-large;
		font-weight: bold;
		margin-top: $gutter-size/2;
		margin-bottom: $gutter-size/2;
		color: $primary-blue;
	}

	h3, h4, h5, h6 {
		font-size: $base-font-size;
		font-weight: bold;
		margin-top: $gutter-size/2;
		margin-bottom: $gutter-size/2;
		color: $primary-blue;
	}

	a, a:visited {
		color: $primary-blue;
		text-decoration: underline;
	}
	a:hover {
		text-decoration: none;
	}
	a.button, a.button:visited, a.button:hover {
		color: white;
		text-decoration: none;
	}

	header > h1 {
		margin-top: 0;
		line-height: 1em;
	}

	ul {
		list-style: none;
		margin-left: 0;
		li {
			&::before {
				content: "";
				background-color: $primary-blue;
				display: inline-block;
				width: 0.5em;
				height: 0.5em;
				margin-right: 0.5em;
				border-radius: 50%;
				position: relative;
				top: -0.1em;
			}
		}
	}
	ol {
		margin-left: 0;
	}

	.edit-link {
		display: none;
	}

	blockquote {
		position: relative;
		padding-left: $gutter-size;
		margin: $gutter-size 0;
		color: $primary-blue;
		font-style: italic;
		font-size: $base-font-size-large;
		&::before {
			position: absolute;
			width: 4px;
			background-color: $primary-blue;
			border-radius: 4px;
			left: 0;
			height: 100%;
		}
		&.blockquote-image {
			padding-left: 150px + $gutter-size;
			img {
				width: 150px;
				position: absolute;
				left: 0;
				top: $gutter-size/4;
			}
			&::before {
				width: 0;
				height: 0;
			}
		}
	}

	.pull-out-box-right, .pull-out-box-left {
		width: $pull-out-box-width;
		text-align: center;
		background-color: $secondary-green-light;
		padding: $gutter-size;
		margin: $gutter-size;
		color: $primary-blue;
		font-style: italic;
		font-size: $base-font-size-large;
	}
	.pull-out-box-right {
		float: right;
	}
	.pull-out-box-left {
		float: left;
	}

	/* Used to override themes, eg. in block quotes */
	.plain-text {
		color: black;
		font-size: $base-font-size;
		font-style: normal;
	}
	.blue-italicised {
		color: $primary-blue;
		font-style: italic;
		font-size: $base-font-size-large;
	}
}


